@tailwind base;
@tailwind components;
@tailwind utilities;


textarea,
input[type="text"],[type="password"],[type="email"]{
  border: 1px solid black;
}

body{
  overflow-x: hidden;
}
    #background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
audio {
    /* filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%); */
    width: 315px;
    height: 35px;
    /* border-radius: 5%; */
    
}
#background-image{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: grey;
}
